@use "../base/variables" as v;

html {
  font-size: 62.5%; //? 1rem = 10px
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: v.$blanco;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
p {
  font-family: v.$fuentePrincipal;
}
h1 {
  /* font-size: 4rem !important; */
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 3rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
button:hover {
  cursor: pointer;
}
