@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap");

//* Tipografía

$fuentePrincipal: "Barlow", sans-serif;

//* Colores

$blanco: #ffffff;
$negro: #000;
$azul: #0b2933;
$azulClaro: #447980;
$celeste: #a9dcee;
$amarillo: #fdb908;
$azulClaroSec: #abbec3;
$azulForm: #d2e0e3;
