@use '../base/variables' as v;

.btn-contacto{
    width: 212px;
    height: 24px;
    border-radius: 1rem;
    padding: 18px 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: v.$fuentePrincipal;
    color: v.$azul;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8rem;
    
}