@use "../base/variables" as v;
@use "../base/mixins" as m;

.btn-contacto {
  border-radius: 1rem;
  background-color: v.$amarillo;
  padding: 1.5rem 4rem;
  border: 0rem;
  text-align: center;
  align-self: center;
  width: fit-content;
  @include m.tablet {
    padding: 0.8rem 1rem;
    width: 90%;
    width: 179px;
    height: 41px;
    /*     padding: 20px 40px 20px 35px; */
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 22px;
    font-weight: 700;
    line-height: 35px;

    @include m.mobile {
      font-size: 16px;
      line-height: 24px;
      width: 100%;
    }
  }
  p {
    font-family: v.$fuentePrincipal;
    color: v.$azul;
    text-align: center;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8rem;
    margin: 0;
    @include m.tablet {
      font-size: 18px;
      line-height: 2.4rem;
    }
  }
}
.btn-navbar {
  display: flex;
  border: 0rem;
  align-items: center;
  gap: 8px;
  background-color: v.$amarillo;
  border-radius: 1rem;
  padding: 1.8rem 2.4rem;
  width: 10.6rem;
  height: 5.4rem;
  p {
    color: v.$azul;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8rem;
    margin: 0 auto;
  }
}
