@use "../base/variables" as v;
@use '../base/mixins' as m;

.text-container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  color: v.$azul;
  font-family: v.$fuentePrincipal;
  font-style: normal;
  h2 {
    width: 100%;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 4.6rem;
    margin: 0;

    padding-bottom: 1.6rem;
    border-bottom: 0.2rem solid v.$amarillo;
  }
  p {
    width: 100%;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 3.5rem;
    margin: 0;
    padding-top: 3.2rem;
  }
  button {
    border: 0;
    background-color: transparent;
    color: v.$azul;
    font-size: 22px;
    font-weight: 500;
    line-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.block-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  max-width: 1240px;
  width: 100%;
  padding: 0 1rem;
  margin: 4rem auto 0px;

  .block-description__routes {
    display: flex;
    width: 100%;
    img {
      width: 100%;
    }
  }

  .block-description__imgs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 1.8rem;
    img{
      border-radius: 5px;
    }
  }
}
.block-activities {
  width: 100%;
  max-width: 1240px;
  margin: 7.5rem auto;
  padding: 0 1rem;
  h3 {
    color: v.$azul;
    font-family: v.$fuentePrincipal;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.8rem;
    margin: 0;
    padding-bottom: 3.2rem;
  }
}
.block-activities__blocks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.8rem;
  p {
    color: v.$azul;
    width: 100%;
    font-family: v.$fuentePrincipal;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 3.5rem;
    margin: 0;
    padding: 1rem;
    @include m.desktop {
      font-size: 1.8rem;
      line-height: 3rem;
    }
  }

  article {
    width: 100%;
    height: 11.8rem;
    border-radius: 0.5rem;
    border: 0.2rem solid v.$azulClaro;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    gap: 1rem;
  }
}
.block-up,
.block-down {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.block-left,
.block-right {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4rem;
}
.image-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.reserve-experience {
  width: 100%;
  height: 29.8rem;
  background: v.$azul;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 7.5rem;
  padding: 0 1rem;

  h2 {
    width: 100%;
    max-width: 1240px;
    color: v.$blanco;
    text-align: center;
    font-family: v.$fuentePrincipal;
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 6.6rem;
    margin: 0;
    padding-bottom: 5rem;
  }
  Button {
    background-color: v.$amarillo;
    display: flex;
    padding: 17.5px 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
.curiosity-container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto 8.5rem;
  color: v.$azul;
  font-family: v.$fuentePrincipal;
  padding: 0 1rem;
  h2 {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 4.6rem;
    margin: 0;
    padding-bottom: 3.2rem;
  }
}
.curiosity-container__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
  width: 100%;
}
.curiosity-container-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: flex-start;
  h3 {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.8rem;
    margin-top: 0;
    margin-bottom: 2rem;
  }
  p {
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 3.5rem;
    margin: 0;
  }
}
.curiosity-container__img {
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
  }
}
.img2 {
  grid-column: 2;
}
.text2 {
  grid-row: 2;
  h3{
    margin-top: 3.3rem;
  }
}

@include m.tablet {
  .text-container {
    max-width: 832px;
    h2{
      font-size: 2.8rem;
      font-weight: 700;
      line-height: 3.8rem;
      padding-bottom: 1rem;
    }
    p{
      font-size: 1.6rem;
      line-height: 2.4rem;
      padding-top: 2.5rem;
    }
    button {
      font-size: 1.6rem;
      font-weight: 500;
    }
  }

  .block-description {
    max-width: 832px;
    column-gap: 2rem;
    margin-top: 3rem;
  }

  .block-description__imgs {
    align-self: flex-start;
  }
  .block-activities{
    max-width: 832px;
    margin: 5rem auto;
    h3 {
      font-size: 2.8rem;
      text-align: start;
      line-height: 3.8rem;
      padding-bottom: 2rem;
    }
  }
  .block-activities__blocks {
    gap: 1.8rem;
    article {
      height: 7.91rem;
      svg {
        width: 4rem;
        height: 4rem;
      }
    }
    p {
      font-size: 1.4rem;
      line-height: 2.4rem;
    }
  }
  .block-up,
  .block-down {
    gap: 2.6rem;
  }
  .block-left,
  .block-right {
    column-gap: 2.6rem;
  }

  .reserve-experience {
    height: 18.8rem;
    margin-bottom: 5rem;
    h2{
      max-width: 832px;
      font-size: 3.6rem;
      line-height: 4.6rem;
      padding-bottom: 2rem;
    }
    Button {
      width: 223px;
      height: 44px;
      font-size: 1.6rem;
      line-height: 2.4rem;
      padding: 1rem;
      justify-content: center;
    }
  }

  .curiosity-container {
    max-width: 832px;
    margin-bottom: 5rem;
    h2 {
      font-size: 24px;
      font-weight: 700;
      line-height: 34px;
      padding-bottom: 2rem;
    }
  }
  .curiosity-container__info {
    column-gap: 2rem;
  }
  .curiosity-container-text {
    h3 {
      font-size: 2rem;
      line-height: 2.8rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }
  }
}

.block-activities__blocks {
  article {
    @media screen and (max-width: 783px){
      height: 9rem;
    }
    @media screen and (max-width: 728px){
      height: 12rem;
    }
  }
}


@include m.mobile {
  .text-container {
    width: 100%;
    margin-bottom: 2.4rem;
    h2 {
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 3.2rem;
      padding-bottom: 0.8rem;
    }
    p {
      font-size: 14px;
      line-height: 24px;
    }

    button {
      font-size: 1.4rem;
      line-height: 2.4rem;
      font-weight: 700;
      margin: 0 auto;
    }
  }
  .block-description {
    justify-content: center;
    max-width: 340px;
    .block-description__imgs {
      display: none;
    }
  }
  .block-activities {
    margin: 3.2rem auto 4rem;
    h3 {
      margin: 0 auto;
      font-size: 2rem;
      line-height: 2.8rem;
      margin-bottom: 1.6rem;
      max-width: 40rem;
    }
  }
  .block-activities__blocks {
    gap: 0.8rem;
    article {
      max-width: 16.2rem;
      height: 7rem;
    }
    p {
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
  }
  .block-up,
  .block-down {
    flex-direction: column;
    gap: 0.8rem;
  }
  .block-left,
  .block-right {
    column-gap: 1.2rem;
  }
  .reserve-experience {
    height: 14rem;
    margin-bottom: 3.2rem;
    h2{
      font-size: 1.8rem;
      line-height: 2.8rem;
      padding-bottom: 1.6rem;
    }
    Button {
      font-size: 1.6rem;
      line-height: 2.4rem;
      width: 340px;
    }
  }

  .curiosity-container {
    max-width: 340px;
    margin-bottom: 4rem;
    h2 {
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 3.4rem;
      padding-bottom: 2.4rem;
    }
  }
  .curiosity-container__info {
    grid-template-columns: 1fr;
    row-gap: 1.6rem;
  }
  .curiosity-container-text {
    align-items: center;
    h3 {
      line-height: 3rem;
      margin-bottom: 0.8rem;
    }
    p {
      font-size: 1.4rem;
    }
  }

  .curiosity-container__img {
    align-items: center;
  }

  .text2 {
    grid-row: 4;
    grid-column: 1;
  }
  .img2 {
    grid-column: 1;
    grid-row: 3;
  }
}