@use "../base/variables" as v;
@use "../base/mixins" as m;

//* Header Home
.container-header {
  position: relative;
  height: 82.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .imagen-fondo-header {
    @include m.tablet {
      display: none;
    }
  }
  @include m.mobile {
    height: 53.8rem;
  }
}
.container-header:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    #002a34 0%,
    rgba(0, 42, 52, 0.7) 11.69%,
    rgba(0, 42, 52, 0) 100%
  );
}
.imagen-header-estatica {
  display: none;
  @include m.tablet {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    object-fit: cover;
  }
}
.imagen-fondo-header {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  object-fit: cover;
  // animation: fadeIn;
  // animation-duration: 4s;
}

.header {
  width: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}
.container-social {
  display: flex;
  justify-content: space-evenly;
  align-self: flex-end;
  align-items: center;
  width: 17.7rem;
  height: 5.4rem;
  border-radius: 0.4rem;
  background: rgba(255, 255, 255, 0.6);
  @include m.tablet {
    display: none;
  }
}
.logo-ig {
  width: 3.5rem;
  height: 3.5024rem;
  margin: 0;
}
.logo-texto {
  color: v.$azul;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.container-legend {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 29.6rem auto 18.2rem;
  @include m.desktop {
    margin-top: 25.6rem;
  }
  @include m.tablet {
    margin-top: 35.5rem;
  }
  @include m.mobile {
    margin-top: 16.5rem;
  }
  h2 {
    font-family: v.$fuentePrincipal;
    color: v.$blanco;
    font-size: 9rem;
    font-style: normal;
    font-weight: 700;
    line-height: 9rem;
    margin: 0 auto 2.5rem;
    text-align: center;
    @include m.desktop {
      font-size: 7.3rem;
      line-height: 7.8rem;
    }
    @include m.tablet {
      font-size: 5.6rem;
      line-height: 6.6rem;
      margin-bottom: 1.5rem;
    }
    @include m.mobile {
      font-size: 4rem;
      line-height: 5.2rem;
    }
  }
  h3 {
    color: v.$amarilloSec;
    font-size: 3.6rem;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    line-height: 4.6rem;
    margin: 0 auto;
    @include m.desktop {
      font-size: 3rem;
      line-height: 4rem;
    }
    @include m.tablet {
      font-size: 2.4rem;
      line-height: 3.4rem;
    }
    @include m.mobile {
      font-size: 2rem;
      line-height: 2.8rem;
    }
  }
  button {
    width: 19.4rem;
    height: 6rem;
    margin-top: 2.5rem;
    gap: 1rem;
    color: v.$azul;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.5rem;
    @include m.tablet {
      display: flex;
      width: 17.9rem;
      height: 4.1rem;
      padding: 20px 40px 20px 35px;
      justify-content: center;
      margin-top: 13rem;
      align-items: center;
      gap: 10px;
    }
    @include m.mobile {
      margin-top: 6.7rem;
    }
  }
}

//* Header Experiencia Maradona y Boca-River
.header-maradona,
.header-boca-river {
  position: relative;
  height: 66.7rem;
  max-width: 100%;
  @include m.tablet {
    height: 44.1rem;
  }
  @include m.mobile {
    height: 36.8rem;
  }
  h2 {
    font-family: v.$fuentePrincipal;
    color: v.$blanco;
    text-align: center;
    font-size: 9rem;
    font-style: normal;
    font-weight: 700;
    line-height: 9rem;
    margin: 0 auto;
    padding-top: 23rem;
    padding-bottom: 23rem;
    @include m.tablet {
      font-size: 5.6rem;
      line-height: 6.6rem;
      padding-top: 22rem;
      padding-bottom: 15.5rem;
    }
    @include m.mobile {
      font-size: 3rem;
      line-height: 4.2rem;
      padding-top: 16.9rem;
      padding-bottom: 15.7rem;
    }
  }
}
.header-maradona:after,
.header-boca-river:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    #002a34 0%,
    rgba(0, 42, 52, 0.7) 11.69%,
    rgba(0, 42, 52, 0) 100%
  );
}
.text-header {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

//* Header Contact y Nosotros
.header-contact {
  height: 38.8rem;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  @include m.tablet {
    height: 44.1rem;
  }
  @include m.mobile {
    height: 368px;
  }
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(
      180deg,
      #002a34 0%,
      rgba(0, 42, 52, 0.7) 11.69%,
      rgba(0, 42, 52, 0) 100%
    );
  }
  h2 {
    font-family: v.$fuentePrincipal; /* "Barlow SemiBold"; */
    color: v.$blanco;
    font-size: 7.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 8rem;
    margin: 0 auto;
    padding-top: 18.2rem;
    padding-bottom: 12.6rem;
    @include m.tablet {
      font-size: 5.6rem;
      line-height: 6.6rem;
      padding-top: 22rem;
      padding-bottom: 15.5rem;
    }
    @include m.mobile {
      font-size: 3rem;
      line-height: 4.2rem;
      padding-top: 16.9rem;
      padding-bottom: 15.7rem;
    }
  }
}

//* NavBar
.container-navbar {
  padding: 3.8rem 4.4rem 4.5rem 8vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    #0b2933 0%,
    rgba(11, 41, 51, 0.25) 80.32%,
    rgba(11, 41, 51, 0) 100%
  );
  backdrop-filter: blur(5px);

  @include m.desktop {
    padding: 3.8rem 4rem 3.8rem 4.8vw;
  }
  @include m.tablet {
    backdrop-filter: blur(2px);
    padding: 3.4rem 4.4rem 0 4.4rem;
    max-height: 9rem;
  }
  @include m.mobile {
    padding: 1.8rem 1.2rem 0 1.2rem;
    max-height: 7rem;
  }
}
.logo_marca {
  display: none;
  @include m.desktop {
    display: block;
  }
  @include m.tablet {
    display: none;
  }
}
.logo_marcaCompleto {
  display: block;
  @include m.desktop {
    display: none;
  }
  @include m.tablet {
    display: block;
    width: 24.1rem;
    height: 4.15rem;
  }
  @include m.mobile {
    display: none;
  }
}
.logo_marcaMobile {
  display: none;
  @include m.mobile {
    display: block;
    padding: 0;
  }
}
.navlist {
  display: flex;
  .btn-contacto {
    background-color: v.$amarillo;
    width: 10.6rem;
    height: 2.4rem;
  }
  @include m.tablet {
    display: none;
  }
}

//* Nav Desplegable
.container-navDesplegable {
  display: none;
  @include m.tablet {
    display: block;
    height: 11.8rem;
  }
}
.dropdown-toggle {
  background-color: v.$amarillo !important;
  border-style: none !important;
  border-radius: 7.352px;
  &.navDesplegable-tablet {
    width: 4.381rem;
    height: 4.381rem;
    text-align: center;
    @include m.tablet {
      display: block;
      transform: translate(44px, -34px) !important;
    }
    @include m.mobile {
      display: none;
    }
  }
  &.navDesplegable-mobile {
    display: none;
    @include m.mobile {
      display: block;
      transform: translate(12px, -18px) !important;
    }
  }
}

.menu-desplegable {
  &.dropdown-menu.show {
    transform: translate(-48px, -10px) !important;
    inset: 0px 0px auto auto !important;
    background-color: v.$blanco !important;
    width: 32.2rem;
    height: 65rem;

    display: flex;
    flex-direction: column;
    // margin-top: 5rem;
    margin-left: 2.5%;
    align-items: flex-start;
    z-index: 0;
    gap: 8px;
    border: 2px solid v.$grisSuave;
    box-shadow: 4px -4px 2px v.$azul;

    @include m.mobile {
      transform: translate(-34px, -30px) !important;
    }

    // &:after {
    //   content: "";
    //   width: 100%;
    //   height: 100%;
    //   position: absolute;
    //   z-index: 0;
    //   top: 0;
    //   left: 0;
    //   background-color: rgba(52, 52, 52, 0.3);
    // }
  }
}
.dropdown-header {
  display: flex;
  width: 100%;
  padding: 24px 24px 36px 24px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.contenedor-item-burguer {
  display: flex;
  z-index: 1;
  width: 100%;
  padding: 12px 20px 12px 24px;
  align-items: center;
  gap: 12px;
}
.dropdown-item-burguer {
  color: v.$headingBlack !important;
  text-shadow: none;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 100%;
  margin: 0 !important;
  :hover {
    cursor: pointer;
  }
  &.redes {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }
}

.header-navbar {
  display: inline-flex;
  padding-left: 0rem;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  @include m.desktop {
    gap: 5vw;
  }
}
.navbar-link {
  text-decoration: none;
  text-align: center;
  position: relative;
  h3 {
    color: v.$blanco;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    margin: 0;
    line-height: 1.8rem;
  }
  &:after {
    content: "";
    display: block;
    margin: auto;
    margin-top: 4px;
    height: 1px;
    width: 0px;
    background: transparent;
    transition: width 0.25s linear, background-color 0.25s linear;
  }
  &:hover:after {
    width: 100%;
    background-color: white;
  }
}

.dropdown {
  background-color: transparent !important;
  font-size: 1.8rem !important;
  font-family: v.$fuentePrincipal !important;
  font-style: normal !important;
  font-weight: 600 !important;
  margin: 0 !important;
  line-height: 1.8rem !important;
  border: none;
  color: v.$blanco;

  .flechitapabajo {
    margin-left: 0.6rem;
  }
  &:focus {
    border: none;
  }
}
.dropdown-menu {
  display: none;
  &.show {
    background-color: transparent !important;
    border: none;
    position: absolute;
    top: 2rem;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
  }
}
.dropdown-item {
  font-size: 1.8rem !important;
  color: v.$blanco !important;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-family: v.$fuentePrincipal !important;
  font-style: normal !important;
  font-weight: 400 !important;
  margin: 0;
  line-height: 1.8rem !important;
  &:hover {
    background-color: transparent !important;
    text-decoration: none !important;
    font-weight: 600 !important;
  }
}
a {
  &#reserva {
    background-color: v.$amarilloMenu;
    color: v.$azul !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    line-height: 100% !important;
    &:hover {
      background-color: v.$amarilloMenu !important;
    }
  }
}

.btn-idioma {
  background-color: transparent;
  color: v.$blanco;
  text-align: center;
  font-family: Barlow;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem;
  border-color: transparent;
  &.burguer {
    color: v.$headingBlack;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
  &.langSelected {
    font-weight: 700;
  }
}
.idiomas-despl {
  margin-top: 6rem;
}

.divisor {
  width: 0.2rem;
  height: 4.8rem;
  background-color: v.$blanco;
}
.idiomas {
  display: flex;
  align-items: center;
  padding-left: 5vw;
}
