@use "../base/variables" as v;
@use '../base/mixins' as m;

//* Header Home
.container-header {
  position: relative;
  height: 82.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .imagen-fondo-header{
    @include m.tablet{
      display: none;
    }
  }
  @include m.mobile {
    height: 53.8rem;
  }
}
.container-header:after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    #002a34 0%,
    rgba(0, 42, 52, 0.7) 11.69%,
    rgba(0, 42, 52, 0) 100%);
}
.imagen-header-estatica{
  display: none;
  @include m.tablet{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    object-fit: cover;
  }
}
.imagen-fondo-header{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  object-fit: cover;
  animation: fadeIn;
  animation-duration: 4s;
}


//*Señaladores de Slides
// .arrow{
//   position: absolute;
//   top: 30rem;
//   font-size: 8rem;
//   width: 5rem;
//   height: 10rem;
//   z-index: 2;
//   color: v.$blanco;
//   &:hover{
//     cursor: pointer;
//   }

//   &.left{
//     left: 5%;
//   }
//   &.right{
//     left: 95%;
//   }
// }
// .contenedor-puntos{
//   z-index: 2;
//   position: absolute;
//   display: flex;
//   justify-content: space-between;
//   top: 70rem;
//   width: 25rem;
// }
// .punto-carrusel{
//   font-size: 8rem;
//   color: v.$blanco;
//   &:hover{
//     cursor: pointer;
//   }
// }

.header{
  width: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;

}
.container-social {
  display: flex;
  justify-content: space-evenly;
  align-self: flex-end;
  align-items: center;
  width: 17.7rem;
  height: 5.4rem;
  border-radius: 0.4rem;
  background: rgba(255, 255, 255, 0.6);
  @include m.tablet {
    display: none;
  }
}
.logo-ig {
  width: 3.5rem;
  height: 3.5024rem;
  margin: 0;
}
.logo-texto {
  color: v.$azul;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.container-legend {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 29.6rem auto 18.2rem;
  @include m.desktop {
    margin-top: 25.6rem;
  }
  @include m.tablet {
    margin-top: 35.5rem;
  }
  @include m.mobile {
    margin-top: 16.5rem;
  }
  h2 {
    font-family: v.$fuentePrincipal;
    color: v.$blanco;
    font-size: 9rem;
    font-style: normal;
    font-weight: 700;
    line-height: 9rem;
    margin: 0 auto 2.5rem;
    text-align: center;
    @include m.desktop {
      font-size: 7.3rem;
      line-height: 7.8rem;
    }
    @include m.tablet {
      font-size: 5.6rem;
      line-height: 6.6rem;
      margin-bottom: 1.5rem;
    }
    @include m.mobile {
      font-size: 4rem;
      line-height: 5.2rem;
    }
  }
  h3 {
    color: v.$amarilloSec;
    font-size: 3.6rem;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    line-height: 4.6rem;
    margin: 0 auto;
    @include m.desktop {
      font-size: 3rem;
      line-height: 4rem;
    }
    @include m.tablet {
      font-size: 2.4rem;
      line-height: 3.4rem;
    }
    @include m.mobile {  
    font-size: 2rem;
    line-height: 2.8rem;
    }
  }
  button {
    width: 19.4rem;
    height: 6rem;
    margin-top: 2.5rem;
    gap: 1rem;
    color: v.$azul;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.5rem;
    @include m.tablet {
      display: flex;
      width: 179px;
      height: 41px;
      padding: 20px 40px 20px 35px;
      justify-content: center;
      margin-top: 13rem;
      align-items: center;
      gap: 10px;
    }
    @include m.mobile {
      margin-top: 6.7rem;
    }
  }
}

//* Header Experiencia Maradona
.header-maradona,
.header-boca-river {
  position: relative;
  height: 66.7rem;
  h2 {
    font-family: "Barlow SemiBold";
    color: v.$blanco;
    font-size: 9rem;
    font-style: normal;
    font-weight: 700;
    line-height: 9rem;
    margin: 0 auto;
    padding-top: 23rem;
    padding-bottom: 23rem;
  }
}
.header-maradona:after, .header-boca-river:after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(
      180deg,
      #002a34 0%,
      rgba(0, 42, 52, 0.7) 11.69%,
      rgba(0, 42, 52, 0) 100%
    );
}
.text-header{
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

//* Header Contact y Nosotros
.header-contact {
  height: 38.8rem;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  &:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(
      180deg,
      #002a34 0%,
      rgba(0, 42, 52, 0.7) 11.69%,
      rgba(0, 42, 52, 0) 100%
    );
  }
  h2 {
    font-family: "Barlow SemiBold";
    color: v.$blanco;
    font-size: 9rem;
    font-style: normal;
    font-weight: 700;
    line-height: 9rem;
    margin: 0 auto;
    padding-top: 6.4rem;
    padding-bottom: 12.5rem;
  }
}

//* NavBar
.container-navbar {
  padding: 3.8rem 4.4rem 3.8rem 8vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  background: linear-gradient(180deg, #0B2933 0%, rgba(11, 41, 51, 0.25) 80.32%, rgba(11, 41, 51, 0.00) 100%);
  @include m.desktop {
    padding: 3.8rem 4rem 3.8rem 4.8vw;
  }
  @include m.tablet {
    backdrop-filter: blur(2px);
  }
  @include m.mobile {
    padding: 1.8rem 1.7rem 1.8rem 1.2rem;
  }
}
.logo_marca{
  display: none;
  @include m.desktop{
    display: block;
  }
  @include m.tablet {
    display: none;
  }
}
.logo_marcaCompleto{
  display: block;
  @include m.desktop{
    display: none;
  }
  @include m.tablet {
    display: block;
    width: 24.1rem;
    height: 4.15rem;
    }
  @include m.mobile {
    display: none;
  }
}
.logo_marcaMobile{
  display: none;
  @include m.mobile {
    display: block;
    padding: 0;
  }
}
.navlist {
  display: flex;
  .btn-contacto {
    background-color: v.$amarillo;
    width: 10.6rem;
    height: 2.4rem;
  }
  @include m.tablet {
    display: none;
  }
}
.container-navDesplegable{
    display: none;
    @include m.tablet {
      display: block;
      height: 118px;
    }
  }
.dropdown-toggle{
  background-color: v.$amarillo !important;
  border-style: none !important;
  border-radius: 7.352px;
  &.navDesplegable-tablet{
  
    width: 4.381rem;
    height: 4.381rem;
    text-align: center;
    @include m.tablet {
      display: block;
    }
    @include m.mobile {
      display: none;
    }
  }
    &.navDesplegable-mobile{
      display: none;
      @include m.mobile {
        display: block;
      }
    }
  }

.menu-desplegable{
  &.dropdown-menu.show{
      background-color: v.$blanco !important;
      backdrop-filter: blur(3.5px);
      width: 100%;
      height: 800px;
      display: flex;
      flex-direction: column;
      position: relative;
      margin-top: 10rem;
      align-items: flex-start;
      z-index: 0;
      gap: 8px;
      @include m.mobile {
        margin-top: 3rem;
      }
      &:after{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        background-color: rgba(52, 52, 52, 0.30);
      }
    }
  }
.dropdown-header{
  display: flex;
  width: 100%;
  padding: 24px 24px 28px 24px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.contenedor-item-burguer{
  display: flex;
  width: 322px;
  padding: 12px 20px 12px 24px;
  align-items: center;
  gap: 12px;
}
.dropdown-item-burguer{
    color: v.$azul !important;
    text-shadow: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    margin: 0 !important;
    :hover{
      cursor: pointer;
  }
    &.redes{
      display: flex;
      align-items: center;
      gap: 1.2rem;
    } 
}


.header-navbar {
  display: inline-flex;
  padding-left: 0rem;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  @include m.desktop {
    gap: 5vw;
  }
}
.navbar-link {
  text-decoration: none;
  text-align: center;
  color: v.$blanco;
  text-shadow: black 0.1em 0.1em 0.2em;
  h3 {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    margin: 0;
    line-height: 1.8rem;
    // @include m.desktop {
    //   font-size: 1.6rem;
    // }
  }
}

.dropdown {
    background-color: transparent !important;
    font-size: 1.8rem !important;
    font-family: v.$fuentePrincipal !important;
    font-style: normal !important;
    font-weight: 600 !important;
    margin: 0 !important;
    line-height: 1.8rem !important;
    border: none;
    color: v.$blanco;
    text-shadow: black 0.1em 0.1em 0.2em;
    // @include m.desktop {
    //   font-size: 1.6rem !important;
    // }
    .flechitapabajo{
      margin-left: 0.6rem;
      // filter:drop-shadow(1rem 1rem 2rem black );
    }
    &:focus {
      border: none;
    }
}
.dropdown-menu{
  display: none;
    &.show {
  background-color: transparent !important;
  border: none;
  position: absolute;
  top: 2rem;
  display: flex;
  flex-direction: column;
    }
}
.dropdown-item {
  font-size: 1.8rem !important;
  color: v.$blanco !important;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-family: v.$fuentePrincipal !important;
  font-style: normal !important;
  font-weight: 400 !important;
  margin: 1rem 0;
  line-height: 1.8rem !important;
  &:hover,
  &:active {
    background-color: transparent !important;
    text-decoration: none !important;
    font-weight: 600 !important;
  }
}


.btn-idioma {
  background-color: transparent;
  color: v.$blanco;
  text-align: center;
  font-family: Barlow;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem;
  border-color: transparent;
  &.burguer{
    color: v.$headingBlack;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
}
.divisor {
  width: 0.2rem;
  height: 4.8rem;
  background-color: v.$blanco;
}
.idiomas {
  display: flex;
  align-items: center;
  padding-left: 5vw;
}


