@use '../base/variables' as v;

.header{
    background-color: v.$azulClaro;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    img{
        max-height: 15rem;
    }
}
.header-navbar{
    display: flex;
    justify-content: space-evenly;
    a{
        margin: 1.5rem;
    }

}
.navbar-link{
        text-decoration: none;
        text-align: center;
        color: v.$blanco;
        h3{
            margin-bottom: 0;
        }
}

.header-banderas, .btn-bandera{
    margin-right: 2rem;
}

