@use "../base/variables" as v;

.experience-container {
  width: 90%;
  margin: 4rem auto;

  height: 18rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: v.$azul;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-group {
  width: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-group__text {
  margin-left: 1rem;
  color: v.$blanco;
  font-feature-settings: "clig" off, "liga" off;
  font-style: normal;
  font-family: v.$fuentePrincipal;

  p {
    font-size: 2.2rem;
    font-weight: 400;
    /*  margin-bottom: 0;
    margin-top: 0; */
  }

  strong {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: normal;
  }
}

@media screen and (max-width: 920px) {
  .experience-container {
    height: 118px;
    width: 90%;
    padding: 1rem;
    padding-top: 2rem;
    margin: 3rem auto;
  }
  .info-group {
    width: 25%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .info-group__text {
    /*   text-align: center;
    margin-left: 0;
    margin-top: 0.5rem; */
    p {
      font-size: 1.4rem;
      margin: 0 auto;
      text-align: center;
    }

    strong {
      width: 100%;
      font-size: 1.5rem;
      text-align: center;
    }
  }
}

@media screen and (max-width: 650px) {
  .experience-container {
    height: 115px;
    width: 100%;
    padding: 1rem;
    padding-top: 2rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    justify-content: space-around;
  }

  .info-group {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    svg {
      width: 25px;
      height: 25px;
    }
  }

  .info-group__text {
    text-align: center;
    margin-left: 0;
    margin-top: 0.5rem;
    p {
      font-size: 1rem;
      margin: 0 auto;
      text-align: center;
    }

    strong {
      width: 100%;
      font-size: 1.2rem;
      text-align: center;
    }
  }
}
