@use "../base/variables" as v;

.text-container {
  width: 80%;
  margin: 0 auto;
  min-height: 269px;
  flex-shrink: 0;
  color: v.$azul;
  font-feature-settings: "clig" off, "liga" off;
  font-family: v.$fuentePrincipal;
  font-style: normal;
  h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    max-width: 600px;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid v.$amarillo;
  }
  p {
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
  }
}

.block-description {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  width: 80%;

  margin: 5rem auto;
  /*   height: 985px; */
  flex-shrink: 0;
  .block-description__routes {
    width: 40%;

    img {
      width: 100%;
    }
  }

  .block-description__imgs {
    width: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 1.8rem;
  }
}

.block-activities {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 3rem;
  h3 {
    color: v.$azul;
    font-feature-settings: "clig" off, "liga" off;
    font-family: v.$fuentePrincipal;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 1rem;
  }
}

.block-activities__blocks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  p {
    color: v.$azul;
    font-feature-settings: "clig" off, "liga" off;
    width: 50%;
    font-family: v.$fuentePrincipal;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
  }

  article {
    width: 50%;
    height: 118px;
    border-radius: 5px;
    border: 2px solid v.$azulClaro;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }
}

.block-up,
.block-down {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.block-left,
.block-right {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
.color-blue {
  background: v.$celeste;
}

.image-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
}

.reserve-experience {
  width: 100%;
  height: 298px;
  flex-shrink: 0;
  background: v.$azul;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    width: 80%;

    color: v.$blanco;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;

    font-family: v.$fuentePrincipal;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
  }
  Button {
    background-color: v.$amarillo;
    cursor: pointer;
  }
}

.curiosity-container {
  width: 80%;
  margin: 3rem auto 6rem auto;
  height: 838px;
  flex-shrink: 0;
  color: v.$azul;
  font-feature-settings: "clig" off, "liga" off;
  font-family: v.$fuentePrincipal;
  font-style: normal;
  h2 {
    font-size: 36px;

    font-weight: 700;
    line-height: 46px;
  }
}

.curiosity-container__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.curiosity-container-text {
  width: 100%;
  max-height: 364px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  h3 {
    font-size: 28px;

    font-weight: 700;
    line-height: 38px;
  }
  p {
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
    margin-top: 0;
  }
}
.curiosity-container__img {
  width: 100%;
  max-width: 600px;
  max-height: 364px;
  flex-shrink: 0;
  img {
    width: 100%;
    height: 100%;
  }
}

.img2 {
  grid-column: 2;
}
.text2 {
  grid-row: 2;
}
