@use "../base/variables" as v;
@use "../base/mixins" as m;

/* Bloque reserva */
.container-reservaNosotros {
  background-color: v.$grisSuave;
  width: 100%;
  height: 24.9rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;

  @include m.tablet {
    height: 158.973px;
  }

  @include m.mobile {
    padding-bottom: 1rem;
  }

  h2 {
    color: v.$azul;
    text-align: center;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 5rem;
    margin: 5rem auto 2.4rem;

    @include m.tablet {
      font-size: 28.092px;
      line-height: 31.922px;
      margin: 2rem auto;
    }

    @include m.mobile {
      font-size: 24px;
      line-height: 32px;
      margin: 2rem auto 1.5rem;
    }
  }
}

/* Bloque Acerca de */
.container-acerca {
  width: 100%;
  height: 982px;
  padding: 3rem 5rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 5% 95%;
  column-gap: 2rem;
  row-gap: 0.5rem;

  @include m.tablet {
    height: 658px;
    padding: 2rem 2rem;
  }

  @include m.mobile {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 0;
  }
}

.img_acercaDeNosotros {
  grid-column: 1;
  grid-row: 1/3;
  width: 100%;
  object-fit: cover;

  img {
    width: 100%;
    height: 100%;
  }

  @include m.mobile {
    /*    grid-column: 1;
    grid-row: 2; */
    height: 45rem;
  }
}

.acerca-title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  @include m.mobile {
    /* grid-column: 1;
    grid-row: 1; */
  }

  h2 {
    color: v.$azul;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.6rem;
    margin-top: 0;
    width: 100%;
    border-bottom: 2px solid v.$amarillo;
    @include m.tablet {
      font-size: 24.135px;
      line-height: 30.84px;
    }
    @include m.mobile {
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.seccion-acerca {
  grid-column: 2;
  width: 100%;
  @include m.mobile {
    grid-column: 1;
    grid-row: 3;
    padding-top: 1rem;
  }

  @include m.scroll-show {
    overflow-y: scroll;
  }
  @include m.scroll-hidden {
    overflow-y: auto;
  }

  @include m.scroll-tablet {
    overflow-y: hidden;
  }

  @include m.scroll-hidden-tablet {
    overflow-y: scroll;
  }

  p {
    width: 100%;
    color: v.$azul;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    margin-top: 0.2rem;

    @include m.tablet {
      font-size: 14.749px;
      line-height: 23.465px;
    }

    @include m.mobile {
      font-size: 12px;
      line-height: 20px;
    }
  }
}

/* estilos al scroll */
.seccion-acerca::-webkit-scrollbar {
  -webkit-appearance: none;
}

.seccion-acerca::-webkit-scrollbar:vertical {
  width: 10px;
}

.seccion-acerca::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}

.seccion-acerca::-webkit-scrollbar:horizontal {
  height: 10px;
}

.seccion-acerca::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.seccion-acerca::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Bloque Detras de */
.container-nosotros {
  display: block;
  width: 100%;
  padding: 3rem 5rem;
  /*   height: 40rem; */
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 10% 100%;
  column-gap: 1rem;
  margin-bottom: 3rem;

  @include m.tablet {
    margin-bottom: 0;
  }

  @include m.mobile {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 2rem 2rem;
    /* padding-top: 0;

    grid-template-columns: 100%;
    grid-template-rows: 5% 45% 20%;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 30%; */
  }
}
.detras-title {
  grid-row: 1;
  grid-column: 1;
  @include m.mobile {
    /*  margin-bottom: -4rem; */
    order: 0;
  }
  h2 {
    color: v.$azul;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.6rem;
    margin-top: 0;

    width: 100%;

    border-bottom: 2px solid v.$amarillo;

    @include m.tablet {
      font-size: 24.135px;
      line-height: 30.84px;
    }
    @include m.mobile {
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.seccion-detras {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  margin-top: 2rem;
  @include m.mobile {
    /*  grid-row: 3; */
    order: 2;
  }

  p {
    width: 100%;
    color: v.$azul;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    margin-top: 0.2rem;

    @include m.tablet {
      font-size: 14.749px;
      line-height: 23.465px;
    }

    @include m.mobile {
      font-size: 12px;
      line-height: 20px;
    }
  }
}
.detrasDeNosotros-img {
  grid-column: 2;
  grid-row: 1/3;
  width: 100%;
  height: 85%;
  object-fit: cover;

  @include m.mobile {
    /*  grid-column: 1;
    grid-row: 2;*/
    height: 40rem;
    order: 1;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
