@use "../base/variables" as v;
@use "../base/mixins" as m;

.nosotros {
  display: flex;
  flex-direction: column;
}
.container-nosotros {
  display: flex;
  padding: 3rem 5rem;
  gap: 3rem;

  @include m.tablet {
    padding: 2rem 2rem;
  }

  @include m.mobile {
    flex-direction: column;
    gap: 2rem;
  }

  h2 {
    color: v.$azul;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.6rem;
    margin-top: 0;
    margin-bottom: 2rem;
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 2px solid v.$amarillo;

    @include m.tablet {
      font-size: 24.135px;
      line-height: 30.84px;
    }
    @include m.mobile {
      font-size: 20px;
      line-height: 28px;
    }
  }
  p {
    color: v.$azul;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    margin-top: 0;
    @include m.tablet {
      font-size: 14.749px;
      line-height: 23.465px;
    }

    @include m.mobile {
      font-size: 12px;
      line-height: 20px;
    }
  }

  .seccion-detras {
    width: 70%;
    @include m.tablet {
    }

    @include m.mobile {
      width: 100%;
    }
  }

  .detrasDeNosotros-img {
    width: 15rem;
    width: 30%;

    display: flex;
    justify-content: center;
    align-items: center;

    @include m.mobile {
      order: -1;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      height: 40rem;
    }
    img {
      height: 100%;
    }
  }
}

/* .detrasDe {
  display: flex;
  margin: 0 7.5rem 10rem;
  gap: 4rem;
} */
.img_acercaDeNosotros {
  width: 50%;
  height: 986px;

  @include m.tablet {
    width: 40%;
    height: 66rem;
  }
  @include m.mobile {
    margin-top: 1rem;
    width: 100%;

    height: 45rem;

    img {
      width: 100%;
      height: 100%;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.container-reservaNosotros {
  background-color: v.$grisSuave;
  width: 100%;
  height: 24.9rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;

  @include m.tablet {
    height: 158.973px;
  }

  @include m.mobile {
    padding-bottom: 1rem;
  }

  h2 {
    color: v.$azul;
    text-align: center;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 5rem;
    margin: 5rem auto 2.4rem;

    @include m.tablet {
      font-size: 28.092px;
      line-height: 31.922px;
      margin: 2rem auto;
    }

    @include m.mobile {
      font-size: 24px;
      line-height: 32px;
      margin: 2rem auto 1.5rem;
    }
  }
}
.seccion-acerca {
  width: 50%;
  max-height: 982px;

  @include m.scroll-show {
    overflow-y: scroll;
  }
  @include m.scroll-hidden {
    overflow-y: auto;
  }

  @include m.tablet {
    width: 60%;
    max-height: 66rem;
  }

  @include m.mobile {
    overflow-y: visible;
    width: 100%;
  }
}

/* estilos al scroll */
.seccion-acerca::-webkit-scrollbar {
  -webkit-appearance: none;
}

.seccion-acerca::-webkit-scrollbar:vertical {
  width: 10px;
}

.seccion-acerca::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}

.seccion-acerca::-webkit-scrollbar:horizontal {
  height: 10px;
}

.seccion-acerca::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.seccion-acerca::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* @media screen and (min-width: 920px) {
  .seccion-acerca {
    overflow-y: scroll;
  }
}
@media screen and (min-width: 1068px) {
  .seccion-acerca {
    overflow-y: auto;
  }
} */

@media screen and (max-width: 920px) {
  /*  .seccion-acerca {
    max-height: 66rem;
    overflow-y: scroll;
  } */
}
